<div class="container">
    {{!-- <div class="field">
        <label>your nick:</label>
        <input type="text" class="nick" placeholder="Here must be your login" readonly>
    </div> --}}
    <div class="content">
         
    </div>

    <div class="field">
        <label>Your message:</label>
            <input type="text" class="input">
    </div>
    <a href="" id="send">Send</a>
    <a href="/main/profile">Back to your profile</a>    
</div>
<script src="static/gc/socket/socket.io.min.js"></script>
<script src="static/gc/js/gc.js" data-name="{{login}}" id="script" "></script>