<h1>Hi, {{login}}</h1>

{{#if isAdmin}}
    <h3>You are logged on as an admin.</h3>
{{/if}}

{{#unless isActive}}
    <h3>Sorry, but your account is not active yet. You have to wait for an admin to accept your access. Please try again later.</h3>
{{/unless}}

{{#if isActive}}
    <h3>Your coins: {{coins}}</h3>
    
    <a href="/games/cw">Play Crazy Words</a>
    <a href="/chat">Global chat</a>
    <a href="/main/logout" id="delete">Delete this account</a>
{{/if}}


{{#if isAdmin}}
    <a href="/main/control">Control accounts panel</a>

{{/if}}
    <a href="/main/logout">Logout</a>

{{#if isActive}}
    <script>
        document.querySelector('#delete').addEventListener('click', e => {
            e.preventDefault();
            if(confirm('Do you really want to delete your account?')) {
                window.location.replace('/main/delete');
            }
        });
    </script>
{{/if}}